In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import re

In [2]:
df = pd.read_csv('tripadvisor_scraped_hotel_reviews.csv')

In [3]:
df.head(10)

,hotel_name,review_summary,review_p1,review_p2,score
0,Hotel Hilton London Gatwick Airport,Awful...,Its hard to find words that can describe this ...,"its just all a bit 'run down' Poor food, not...","<span class=""ui_bubble_rating bubble_10""></span>"
1,Hotel Hilton London Gatwick Airport,Great start to hokidat,Staying in a hotel that’s part of the airport ...,NaN,"<span class=""ui_bubble_rating bubble_50""></span>"
2,Hotel Hilton London Gatwick Airport,A good overnight stay!,My wife and I stayed at this hotel for one nig...,flat-screen TV (with a huge selection of TV c...,"<span class=""ui_bubble_rating bubble_50""></span>"
3,Hotel Hilton London Gatwick Airport,Satisfactory one night stay,One night stay which turned out to be much be...,so higher prices are expected. Overall a very...,"<span class=""ui_bubble_rating bubble_40""></span>"
4,Hotel Hilton London Gatwick Airport,"Still nice but looking a bit sad, old and dated",We had an executive room and even these are st...,NaN,"<span class=""ui_bubble_rating bubble_40""></span>"
5,Hotel Hilton London Gatwick Airport,NaN,NaN,NaN,NaN
6,Hotel Hilton London Gatwick Airport,NaN,NaN,NaN,NaN
7,Hotel Hilton London Gatwick Airport,NaN,NaN,NaN,NaN
8,Hotel Hilton London Gatwick Airport,NaN,NaN,NaN,NaN
9,Hotel Hilton London Gatwick Airport,NaN,NaN,NaN,NaN

In [4]:
df.shape

(35078, 5)

In [5]:
df.dropna(subset=['review_p1'],axis=0,inplace=True)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17538 entries, 0 to 35072
Data columns (total 5 columns):
hotel_name        17538 non-null object
review_summary    17538 non-null object
review_p1         17538 non-null object
review_p2         4698 non-null object
score             17538 non-null object
dtypes: object(5)
memory usage: 822.1+ KB

In [7]:
df['score'] = df['score'].astype(str).apply(lambda x: x[37]).astype(int)

In [8]:
df.reset_index(inplace=True,drop=True)

In [9]:
df.head(10)

,hotel_name,review_summary,review_p1,review_p2,score
0,Hotel Hilton London Gatwick Airport,Awful...,Its hard to find words that can describe this ...,"its just all a bit 'run down' Poor food, not...",1
1,Hotel Hilton London Gatwick Airport,Great start to hokidat,Staying in a hotel that’s part of the airport ...,NaN,5
2,Hotel Hilton London Gatwick Airport,A good overnight stay!,My wife and I stayed at this hotel for one nig...,flat-screen TV (with a huge selection of TV c...,5
3,Hotel Hilton London Gatwick Airport,Satisfactory one night stay,One night stay which turned out to be much be...,so higher prices are expected. Overall a very...,4
4,Hotel Hilton London Gatwick Airport,"Still nice but looking a bit sad, old and dated",We had an executive room and even these are st...,NaN,4
5,Hilton London Metropole,Great stay,Hilton metropole is centrally located and prov...,NaN,4
6,Hilton London Metropole,Classic Hilton,1 Thanks for the quick suite upgrade! Love it!...,NaN,5
7,Hilton London Metropole,Terrible,"Absolutely terrible. Cracked ceiling, tiny roo...",NaN,1
8,Hilton London Metropole,Hilton,Me and my sister stayed at the Hilton metropol...,went through my finger to my elbow. Also when...,2
9,Hilton London Metropole,Clean and tidy. Nice rooms,We stayed here for a weekend away and used it ...,NaN,5

In [10]:
df.groupby('score').size().sort_values(ascending=False)

score
4    5364
3    4149
5    3787
2    2357
1    1881
dtype: int64

In [12]:
df['review_p2'].fillna(value='',inplace=True)

In [13]:
df['review'] = df['review_p1'].astype(str) + df['review_p2'].astype(str)

In [14]:
df.head(10)

,hotel_name,review_summary,review_p1,review_p2,score,review
0,Hotel Hilton London Gatwick Airport,Awful...,Its hard to find words that can describe this ...,"its just all a bit 'run down' Poor food, not...",1,Its hard to find words that can describe this ...
1,Hotel Hilton London Gatwick Airport,Great start to hokidat,Staying in a hotel that’s part of the airport ...,,5,Staying in a hotel that’s part of the airport ...
2,Hotel Hilton London Gatwick Airport,A good overnight stay!,My wife and I stayed at this hotel for one nig...,flat-screen TV (with a huge selection of TV c...,5,My wife and I stayed at this hotel for one nig...
3,Hotel Hilton London Gatwick Airport,Satisfactory one night stay,One night stay which turned out to be much be...,so higher prices are expected. Overall a very...,4,One night stay which turned out to be much be...
4,Hotel Hilton London Gatwick Airport,"Still nice but looking a bit sad, old and dated",We had an executive room and even these are st...,,4,We had an executive room and even these are st...
5,Hilton London Metropole,Great stay,Hilton metropole is centrally located and prov...,,4,Hilton metropole is centrally located and prov...
6,Hilton London Metropole,Classic Hilton,1 Thanks for the quick suite upgrade! Love it!...,,5,1 Thanks for the quick suite upgrade! Love it!...
7,Hilton London Metropole,Terrible,"Absolutely terrible. Cracked ceiling, tiny roo...",,1,"Absolutely terrible. Cracked ceiling, tiny roo..."
8,Hilton London Metropole,Hilton,Me and my sister stayed at the Hilton metropol...,went through my finger to my elbow. Also when...,2,Me and my sister stayed at the Hilton metropol...
9,Hilton London Metropole,Clean and tidy. Nice rooms,We stayed here for a weekend away and used it ...,,5,We stayed here for a weekend away and used it ...

In [15]:
df['review'][0]

"Its hard to find words that can describe this experience without being too dismissive so i'll keep it short.  Pros. - Check experience was fine.... The checkin clerk was funny and helpful, and had a lovely manner with the guests. Very efficient. - Location... Very well set for access to Gatwick airport, with a short walk to the terminal for your flights.  Cons - Food...  the hotel not only was packed full and the restaurants were full, but the food itself was incredibly poor and expensive.   We did the buffet... on the evening.... barely anything was truly good tasting..... AVOID - Comfort... Hiltons of late seem to be less and less comfortable, the rooms stark... and without any character. Not the cleanest of rooms either. - its a big hotel.... everywhere is a lengthy walk and its just all a bit 'run down'  Poor food, not the best night sleep, expensive for what it is, tired and in need of significant change.  AVOID!"

In [16]:
df.drop(columns=['review_p1','review_p2'],inplace=True)

In [17]:
df.head()

,hotel_name,review_summary,score,review
0,Hotel Hilton London Gatwick Airport,Awful...,1,Its hard to find words that can describe this ...
1,Hotel Hilton London Gatwick Airport,Great start to hokidat,5,Staying in a hotel that’s part of the airport ...
2,Hotel Hilton London Gatwick Airport,A good overnight stay!,5,My wife and I stayed at this hotel for one nig...
3,Hotel Hilton London Gatwick Airport,Satisfactory one night stay,4,One night stay which turned out to be much be...
4,Hotel Hilton London Gatwick Airport,"Still nice but looking a bit sad, old and dated",4,We had an executive room and even these are st...

In [20]:
df.shape

(17538, 4)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17538 entries, 0 to 17537
Data columns (total 4 columns):
hotel_name        17538 non-null object
review_summary    17538 non-null object
score             17538 non-null int32
review            17538 non-null object
dtypes: int32(1), object(3)
memory usage: 479.7+ KB

In [23]:
df.describe()

              score
count  17538.000000
mean       3.388813
std        1.257734
min        1.000000
25%        3.000000
50%        4.000000
75%        4.000000
max        5.000000